.fav-page
    .popup
        .popup__wrap
            .popup__close
            .popup__title HOW TO GET A BONUS?
            ul.popup__list
                li.popup__list-item On the day after your birthday, a personal bonus will be credited to the "Bonuses" section.
                li.popup__list-item After clicking the "Accept" button, a bonus of 50 FS will be available to you in the game "Sam's play" from the provider Pateplay (the value of 1 FS = 3 ₴).
            a(href="/personal-office/bonuses/").popup__btn TAKE BONUS
    .main
        .main__banner
            .main__banner-wrap
                .main__banner-left
                    .main__banner-text-bonus PERSONAL BIRTHDAY BONUS
                    .main__banner-text-top
                        span FAVBET
                        span WISHES
                        span YOU
                    .main__banner-text-center HAPPY<br> BIRTHDAY
                        span.center-subtext You have reached<br> a new level.
                    .main__banner-text-bottom We’re adding bright emotions to your special day.
                .main__banner-right
                    .main__banner-right-img
                        img(src="./img/banner-cake.png" alt="favbet.ua")
                    .main__banner-icons
                        .main__banner-icons-left
                            .cubes-icon
                            .cherry-icon
                            .cards-icon
                        .main__banner-icons-right
                            .sport-icon
                            .game-icon
                            .fav-icon
                            .loading-icon
            .main__banner-bottom
                .main__banner-bottom-item Be inside the game with FAVBET
                .main__banner-bottom-item Personal Birthday Bonus
                .main__banner-bottom-item The game reveals who you are
        .main__game
            .main__game-machine
                .main__game-machine-text YOUR BONUS<br> IS WAITING<br> FOR YOU
                .main__game-playground
                    .game-body
                        .hook-wrap
                            .hook-fastering
                            .hook
                    .result
                        .FS FS #[span 0]#[span 0]
                    .start-text Press the button...
                    .coins
                        .coin.coin-box
                        .coin.coin-box
                        .coin.coin3
                        .coin.coin-box
                        .coin.coin-box
                    .gameOver
                        .gameOver__title You will be credited
                        .gameOver__prize FS 50
                        .gameOver__txt in the game "Sam's play" <br> from the Pateplay <br> provider,which you can <br> use within 3 days.
                        .gameOver__info How to get a bonus?
                .main__game-machine-btn start
    .details
        ul.details__list
            li.details__list-item Personal Bonus offer is available within the #[span Loyalty Program]
            li.details__list-item The size, type and format of the bonus offer are determined and provided to players solely at the discretion of the Organizer. Detailed terms of the personal bonus offer can be found in My Account under the "Bonuses" section.
    .rules
        details.drop
            summary.drop__btn
                span Details
            ol.drop__list.drop__list-title Conditions for receiving a Personal Bonus Offer of 50 Free Spins in the Game "Sam's play" from Pateplay:<br><br> To receive the bonus, you need to:<br><br>
                li.drop__list-item Within 3 (three) days from the moment of receiving a notification about the possibility of receiving a bonus, make a deposit of at least 150 ₴ to your gaming account (this deposit will activate the personal bonus: "50 FS in the game 'Sam's play'").
                li.drop__list-item Once the bonus is available, press the "Accept" button to claim the bonus of 50 FS in the game "Sam's play" from Pateplay. The value of one free spin is 3 ₴. The bonus is calculated without a return.
                li.drop__list-item To qualify for the personal bonus offer, the player must have been registered for at least 14 days and have made a minimum of 3 deposits since registration.

